---
layout: page
title: Contact Us
permalink: /contact/
image:
coordies:
    'Devansh Jain':
        number: 9464327218
        mail: jdevansh21@iitk.ac.in
        github: devansh-jain-2002
        image: devansh.jpg
        fb:
    'Pratham Sahu':
        number: 7619678791
        mail: spratham21@iitk.ac.in
        github: prathamsahu52
        image: pratham.jpg
        fb:
    'Rahul Jha':
        number: 8700367670
        mail: rahulj21@iitk.ac.in
        github: juggernautjha
        image: jha.jpg
        fb:
    'Ridin Datta':
        number: 7439079526
        mail: ridind21@iitk.ac.in
        github: rhydberg
        image: ridin.jpg
        fb:
             
excoordies:
  '2022 - 23':
    'Het Patel':
        number: 9825688226
        mail: hetpatel20@iitk.ac.in
        github: wiredinhp
        image: hetp.jpg
        fb: wiredinhp
    'Parinay Chauhan':
        number: 9264933530
        mail: parinayc20@iitk.ac.in
        github: parinayc20
        image: parinay.jpg
        fb: parinay.chauhan.1
    'Prem Bharwani':
        number: 7715007558
        mail: premr20@iitk.ac.in
        github: PremBharwani
        image: prem.jpg
        fb: bharwaniprem
    'Shivam Mishra':
        number: 8604397668
        mail: mshivam20@iitk.ac.in
        github: 7shivamx
        image: shivam.jpg
        fb: 7shivamx
  '2021 - 22':
    'Atharv Singh Patlan':
      mail: atharvsp@iitk.ac.in
      github: AthaSSiN
      image: atharv.jpg
    'Kartikeya Gupta':
      mail: gkartik@iitk.ac.in
      github: kartikcode
      image: kartikeya.jpg
    'Naman Gupta':
      mail: namangup@iitk.ac.in
      github: namangup
      image: naman.jpg
    'Som Tambe':
      mail: somvt@iitk.ac.in
      github: SomTambe
      image: som.jpg

  '2020 - 21':
    'Deepankur Kansal':
      mail: deepank@iitk.ac.in
      github: DeepankurK
      image: deepankur.jpg
      body: |

    'Nilay Majorwar':
      mail: majorwar@iitk.ac.in
      github: NilayMajorwar
      image: nilay.jpg
      body: |
        Software Engineer at Zomato.
        Completed GSOC under GDevelop.
    'Nirmal Suthar':
      mail: nirmalps@iitk.ac.in
      github: nirmal-suthar
      image: nirmal.jpg
      body: |
        Analyst at AlphaGrep.
        Interned at Microsoft in  summer 2021.
        Completed GSOC under SPDX.
    'Priydarshi Singh':
      mail: darshi@iitk.ac.in
      github: dryairship
      image: priydarshi.jpg
      body: |
        Software Engineer at Optiver.
        Interned at Amazon.
        Completed GSOC under Linux foundation.

  '2019 - 20':
    'Aditya Gulati':
      mail: aditg@iitk.ac.in
      github: ditttu
      image: adityagulati.jpg
      body: |
        Research Fellow at UCSB.


    'Anish Saxena':
      mail: anishs@iitk.ac.in
      github: Anish-Saxena
      image: anishsaxena.jpg
      body: |
        Doing PhD at Georgia Intitute of Technology.
        Interned at NVIDIA, Intel. 
    'Kushagra Gupta':
      mail: kushgpt@iitk.ac.in
      github: kushagragpt99 
      image: kushagragupta.jpg
    'Yugesh Kothari':
      mail: yugeshk@iitk.ac.in
      github: yugeshk 
      image: yugeshkothari.jpg
      body: |
        Doing Phd at EPFL.
        Interned at Mastercard, MPI.

  '2018 - 19':
    'Ahsan Barkati':
      mail: ahsanb@iitk.ac.in
      github: ahsanbarkati
      image: ahsan.jpg
      body: |
        Software Engineer at Google.
        Completed GSOC in 2019 and 2020 under FreeBSD.
    'Anant Prakash':
      mail: anantp@iitk.ac.in
      github: apwhitehat
      image: anant.jpg
      body: |
        Doing Masters at CMU'23.
        Previously worked at Rubrik, Dunzo, Tower Research.
    'Ayush Bansal':
      mail: ayushb@iitk.ac.in
      github: ayush268
      image: ayush.jpg
      body: |
        Co-founder & CTO at NimbleEdge.
        Previously Developer at Tower Research.
  '2017 - 18':
    'Arjun Sinha':
      mail: arjuns@iitk.ac.in
      github: ajs97
      image: arjun.jpg
      body:
          'Software Engineer at Rubrik.
          Interned at Tower Research in Summer 2018.
          ACM ICPC World Finalist.' 
    'Milind Luthra':
      mail: milindl@iitk.ac.in
      github: milindl
      image: milind.jpg
      body: |-
        Systems Engineer at Quadeye.

        Interned at Flipkart, Bangalore in Summer 2018.
                                                          
    'Varun Khare':
      mail: varun@iitk.ac.in
      github: varunkhare1234
      image: varun.png
      body: |
          CEO & Co-founder at NimbleEdge.
          Research Scholar at Max planck Institute in 2019-20.
                                                                             
    'Yash Srivastav':
      mail: yashsriv@iitk.ac.in
      github: yashsriv
      image: yash.jpg
      body: |
          Research Intern at New York University in Summer 2018.
          Completed GSoC in 2017 under the Linux Foundation.
  '2016 - 17':
    'Kunal Kapila':
      mail: kunalapila@gmail.com
      github: kunalapila
      image: kunal.jpg
      body: |
        PPO at Tower Research.
        Interned at Tower Research in Summer 2017.
        Chairperson Students&#39; Senate 2017-18.
    'Pallav Agarwal':
      mail: pallavagarwal07@gmail.com
      github: pallavagarwal07
      image: pallav.jpg
      body: |
        Joining Google, India.
        Interned at Google, NYC in Summer 2017. Successfully
        completed GSoC in 2016 under the Gentoo Foundation.
    'Saksham Sharma':
      mail: saksham0808@gmail.com
      github: sakshamsharma
      image: saksham.jpg
      body: |
        Joining Tower Research, NYC.
        Interned at Google, Seattle in Summer 2017. Has been a
        research fellow at Max Planck Institute for Software System.
    'Vinayak Tantia':
      mail: tantia.vinayak1@gmail.com
      github: vtantia
      image: vinayak.jpg
      body: |
        Joining Facebook AI Research, Canada.
        Interned at MILA, Canada in Spring 2018 and at Google, India in Summer 2017.
---
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
}

body {
    font-family: 'lato', sans-serif;
    color: #ffffff;
    font-weight: 300;
}

a {
    color: #ffffff;
    font-weight: 400;
    outline: none;
    text-decoration: none;
    transition: 0.5s;
}

a:hover,
a:focus {
    outline: none;
    text-decoration: none;
}

p {
    padding: 0;
    margin: 0 0 15px 0;
    color: #bdb7b7;
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0 0 15px 0;
    color: #bdb7b7;
    font-weight: 700;
}

h1 {
    font-size: 35px;
}

h2 {
    font-weight: 700;
    color: #ffffff;
}

img {
    width: 100%;
    height: auto;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.section-title {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 80px;
    margin-top: 40px;
    text-align: center;
}

.section-title h1 {
    display: inline-block;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700;
    color: #858383;
    margin: 0 0 5px;
    position: relative;
}

.section-title h1::before {
    content: '';
    left: 0;
    position: absolute;
    height: 3px;
    right: 32%;
    background: linear-gradient(90deg, #e7553c, #3b1510 100%);
    bottom: -5px;
}

.container .section-title h1::before {
    left: 30%;
}

.row1 {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.column {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 100%;
    max-width: 100%;
}

.team {
    margin-bottom: 30px;
}

.team .team-img {
    position: relative;
    font-size: 0;
    text-align: center;
}

.team .team-img img {
    width: 200px;
    height: auto;
    border-radius: 100%;
    border: 20px solid #26293a;
}

.team .team-content {
    padding: 80px 20px 20px 20px;
    margin-top: -80px;
    text-align: center;
    background: #26293a;
    border-radius: 10px;
}

.team .team-content h2 {
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 2px;
}

.team .team-content h3 {
    font-size: 16px;
    font-weight: 300;
}

.team .team-content h4 {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    font-style: italic;
    margin-bottom: 0;
}

.team .team-content p {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

.team .team-social {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 35px;
    top: -80px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(82, 45, 45, 0.6);
    transition: all .3s;
    font-size: 0;
    z-index: 1;
    opacity: 0;
}

.team:hover .team-social {
    opacity: 1;
}

.team .team-social a {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    padding: 11px 0 10px 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    text-align: center;
    color: #ffffff;
    border-radius: 10px;
    transition: all .3s;
    margin-top: 50px;
}

.team .team-social a.social-tw {
    background: #00acee;
}

.team .team-social a.social-fb {
    background: #3b5998;
}

.team .team-social a.social-li {
    background: #0e76a8;
}

.team .team-social a.social-in {
    background: #3f729b;
}

.team .team-social a.social-ml {
    background: #c4302b;
}

.team .team-social a:last-child {
    margin-right: 0;
}

.team:hover .team-social a {
    margin-top: 0;
}

.team .team-social a:hover {
    background: #222222;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }

    .column {
        max-width: 50%;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }

    .column {
        max-width: 33.333333%;
    }

    .team .team-social {
        top: -30px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }

    .column {
        max-width: 50%;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
.secyTable {
     width: 100%;
 }

.secyTable tr {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.secyTable tr:hover {
  background-color: #26293a;
  -webkit-transform:scale(1.05);
  -moz-transform:scale(1.05);
  -ms-transform:scale(1.05);
  -o-transform:scale(1.05);
  transform:scale(1.05);
}

.secyRow {
  display:table-cell;
}
.secyRow b {
  color: #33dddd;
}
.secyTable tr:nth-child(even) {
  background-color: #2F4F4F;
}

.social-media-logo {
  margin-bottom: 10px !important;
}
</style>

{% comment %}
Current coordies
{% endcomment %}

<div class="container">
  <div class="section-title">
      <h1>Current Coordinators</h1>
  </div>

      <div class="row1">

        {% for coordie in page.coordies %}
        <div class="column">
            <div class="team">
                <div class="team-img">
                    <img src="/images/{{coordie[1].image}}" alt="Team Image">
                </div>
                <div class="team-content">
                    <h2>{{coordie[0]}}</h2>
                    <h3>{{coordie[1].number}}</h3>
                    <h4>{{coordie[1].mail}}</h4>
                </div>
                <div class="team-social">
                    <a href="https://github.com/{{ coordie[1].github }}" class="social-tw"> <i class="fa fa-github" style="font-size: 24px; margin-bottom: 0px; "></i> </a>
                    <a href="https://facebook.com/{{ coordie[1].fb }}" class="social-fb"> <i class="fa fa-facebook" style="font-size: 24px; margin-bottom: 0px; "></i></a>
                    <a href="#" class="social-li"> <i class="fa fa-linkedin" style="font-size: 24px; margin-bottom: 0px; "></i></a>
                    <a href="#" class="social-in"> <i class="fa fa-instagram" style="font-size: 24px; margin-bottom: 0px; "></i></a>
                    <a href="mailto:{{ coordie[1].mail }}" class="social-ml"> <i class="fa fa-envelope" style="font-size: 24px; margin-bottom: 0px; "></i></a>
                </div>
            </div>
        </div>

        {% endfor %}

      </div>

</div>

{% comment %}
current secys
{% endcomment %}

<!-- <div class="container">
    <div class="section-title">
        <h1>Current Secretaries</h1>
    </div>
    <table class="secyTable" cellpadding="5">
      <tr>
        <th>Name</th>
        <th>Hall</th>
        <th>Email-ID</th>
        <th>Mobile No.</th>
        <th>GitHub</th>
        <th>Facebook</th>
        
      </tr>
      {% for secy in page.secys %}
        <tr>
          <td class="secyRow" align="center"> {{ secy[1].name }}</td>
          <td class="secyRow" align="center"> {{ secy[1].hall }}</td>
          <td class="secyRow" align="center"> <a href="mailto:{{ secy[0] }}@iitk.ac.in"> {{ secy[0] }}@iitk.ac.in </a> </td>
          <td class="secyRow" align="center"> {{ secy[1].number }}</td>
          <td> <a href="https://github.com/{{ secy[1].github }}" target="_blank">{{ secy[1].github }} </a></td>
          <td> <a href="https://facebook.com/{{ secy[1].fb }}" target="_blank">{{ secy[1].fb }}</a></td>
       </tr>
      {% endfor %}
    </table>
</div> -->

{% comment %}
ex-coordis
{% endcomment %}

{% for year in page.excoordies %}
<div class="container">
  <div class="section-title">
      <h1>{{year[0]}} Coordinators</h1>
  </div>

  <div class="row1">

    {% for coordie in year[1] %}
      <div class="column">
          <div class="team">
              <div class="team-img">
                  <img src="/images/{{coordie[1].image}}" alt="Team Image">
              </div>
              <div class="team-content">
                  <h2>{{coordie[0]}}</h2>
                  <h3>{{coordie[1].mail}}</h3>
                  <p>{{coordie[1].body}}</p>
                  <h4>{{coordie[1].github}}</h4>
              </div>
              <div class="team-social">
                <a href="https://github.com/{{ coordie[1].github }}" class="social-tw"> <i class="fa fa-github" style="font-size: 24px; margin-bottom: 0px; "></i></a>
                <a href="https://facebook.com/{{ coordie[1].fb }}" class="social-fb"> <i class="fa fa-facebook" style="font-size: 24px; margin-bottom: 0px; "></i></i></a>
                <a href="#" class="social-li"> <i class="fa fa-linkedin" style="font-size: 24px; margin-bottom: 0px; "></i></a>
                <a href="#" class="social-in"> <i class="fa fa-instagram" style="font-size: 24px; margin-bottom: 0px; "></i></a>
                <a href="mailto:{{ coordie[1].mail }}" class="social-ml"> <i class="fa fa-envelope" style="font-size: 24px; margin-bottom: 0px; "></i></a>
              </div>
          </div>
      </div>
    {% endfor %} 

   </div>

</div>
{% endfor %}

