---
layout: page
title: Projects
permalink: /projects
image:
---

<style>
  .page {
    max-width: max-content;
  }

  body2 {
    --background-color: #18181b;
    --text-color: #a1a1aa;
    --card-background-color: rgba(255, 255, 255, 0.015);
    --card-border-color: rgba(194, 125, 125, 0.425);
    --card-box-shadow-1: rgba(0, 0, 0, 0.05);
    --card-box-shadow-1-y: 3px;
    --card-box-shadow-1-blur: 6px;
    --card-box-shadow-2: rgba(0, 0, 0, 0.1);
    --card-box-shadow-2-y: 8px;
    --card-box-shadow-2-blur: 15px;
    --card-label-color: #ffffff;
    --card-icon-color: #d4d4d8;
    --card-icon-background-color: rgba(255, 255, 255, 0.08);
    --card-icon-border-color: rgba(255, 255, 255, 0.12);
    --card-shine-opacity: 0.1;
    --card-shine-gradient: conic-gradient(from 205deg at 50% 50%,
        rgba(16, 185, 129, 0) 0deg,
        #10b981 25deg,
        rgba(52, 211, 153, 0.18) 295deg,
        rgba(16, 185, 129, 0) 360deg);
    --card-line-color: #2a2b2c;
    --card-tile-color: rgba(16, 185, 129, 0.05);
    --card-hover-border-color: rgba(255, 255, 255, 0.2);
    --card-hover-box-shadow-1: rgba(0, 0, 0, 0.04);
    --card-hover-box-shadow-1-y: 5px;
    --card-hover-box-shadow-1-blur: 10px;
    --card-hover-box-shadow-2: rgba(0, 0, 0, 0.3);
    --card-hover-box-shadow-2-y: 15px;
    --card-hover-box-shadow-2-blur: 25px;
    --card-hover-icon-color: #34d399;
    --card-hover-icon-background-color: rgba(52, 211, 153, 0.1);
    --card-hover-icon-border-color: rgba(52, 211, 153, 0.2);
    --blur-opacity: 0.01;
  }

  /* body.toggle .grid * {
    transition-duration: 0s !important;
  } */

  .grid {
    display: grid;
    grid-template-columns: repeat(4, 240px);
    grid-gap: 32px;
    position: relative;
    z-index: 1;
  }

  .card {
    background-color: #18181b;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05), 0px 8px 15px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(194, 125, 125, 0.425);
    padding: 56px 16px 16px 16px;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
    transition: box-shadow 0.25s;
  }

  .card::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.015);
  }

  .card .icon {
    z-index: 2;
    position: relative;
    display: table;
    padding: 8px;
  }

  .card .icon::after {
    content: "";
    position: absolute;
    inset: 4.5px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.12);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    transition: background-color 0.25s, border-color 0.25s;
  }

  .card .icon svg {
    position: relative;
    z-index: 1;
    display: block;
    width: 24px;
    height: 24px;
    transform: translateZ(0);
    color: #d4d4d8;
    transition: color 0.25s;
  }

  .card h4 {
    z-index: 2;
    position: relative;
    margin: 12px 0 4px 0;
    font-family: inherit;
    font-weight: 600;
    font-size: 18px;
    line-height: 2;
    color: #ffffff;
  }

  .card p {
    z-index: 2;
    position: relative;
    margin: 0;
    font-size: 14px;
    line-height: 1.7;
    color: #a1a1aa;
  }

  .card .shine {
    border-radius: inherit;
    position: absolute;
    inset: 0;
    z-index: 1;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.5s;
  }

  .card .shine:before {
    content: "";
    width: 150%;
    padding-bottom: 150%;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    bottom: 55%;
    filter: blur(35px);
    opacity: 0.1;
    transform: translateX(-50%);
    background-image: conic-gradient(from 205deg at 50% 50%,
        rgba(16, 185, 129, 0) 0deg,
        #b91010 25deg,
        rgba(52, 211, 153, 0.18) 295deg,
        rgba(16, 185, 129, 0) 360deg);
  }

  .card .background {
    border-radius: inherit;
    position: absolute;
    inset: 0;
    overflow: hidden;
    -webkit-mask-image: radial-gradient(circle at 60% 5%, black 0%, black 15%, transparent 60%);
    mask-image: radial-gradient(circle at 60% 5%, black 0%, black 15%, transparent 60%);
  }

  .card .background .tiles {
    opacity: 0;
    transition: opacity 0.25s;
  }

  .card .background .tiles .tile {
    position: absolute;
    background-color: rgba(16, 185, 129, 0.05);
    -webkit-animation-duration: 8s;
    animation-duration: 8s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    opacity: 0;
  }

  .card .background .tiles .tile.tile-4,
  .card .background .tiles .tile.tile-6,
  .card .background .tiles .tile.tile-10 {
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
  }

  .card .background .tiles .tile.tile-3,
  .card .background .tiles .tile.tile-5,
  .card .background .tiles .tile.tile-8 {
    -webkit-animation-delay: -4s;
    animation-delay: -4s;
  }

  .card .background .tiles .tile.tile-2,
  .card .background .tiles .tile.tile-9 {
    -webkit-animation-delay: -6s;
    animation-delay: -6s;
  }

  .card .background .tiles .tile.tile-1 {
    top: 0;
    left: 0;
    height: 10%;
    width: 22.5%;
  }

  .card .background .tiles .tile.tile-2 {
    top: 0;
    left: 22.5%;
    height: 10%;
    width: 27.5%;
  }

  .card .background .tiles .tile.tile-3 {
    top: 0;
    left: 50%;
    height: 10%;
    width: 27.5%;
  }

  .card .background .tiles .tile.tile-4 {
    top: 0;
    left: 77.5%;
    height: 10%;
    width: 22.5%;
  }

  .card .background .tiles .tile.tile-5 {
    top: 10%;
    left: 0;
    height: 22.5%;
    width: 22.5%;
  }

  .card .background .tiles .tile.tile-6 {
    top: 10%;
    left: 22.5%;
    height: 22.5%;
    width: 27.5%;
  }

  .card .background .tiles .tile.tile-7 {
    top: 10%;
    left: 50%;
    height: 22.5%;
    width: 27.5%;
  }

  .card .background .tiles .tile.tile-8 {
    top: 10%;
    left: 77.5%;
    height: 22.5%;
    width: 22.5%;
  }

  .card .background .tiles .tile.tile-9 {
    top: 32.5%;
    left: 50%;
    height: 22.5%;
    width: 27.5%;
  }

  .card .background .tiles .tile.tile-10 {
    top: 32.5%;
    left: 77.5%;
    height: 22.5%;
    width: 22.5%;
  }

  @-webkit-keyframes tile {

    0%,
    12.5%,
    100% {
      opacity: 1;
    }

    25%,
    82.5% {
      opacity: 0;
    }
  }

  @keyframes tile {

    0%,
    12.5%,
    100% {
      opacity: 1;
    }

    25%,
    82.5% {
      opacity: 0;
    }
  }

  .card .background .line {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity 0.35s;
  }

  .card .background .line:before,
  .card .background .line:after {
    content: "";
    position: absolute;
    background-color: #2a2b2c;
    transition: transform 0.35s;
  }

  .card .background .line:before {
    left: 0;
    right: 0;
    height: 1px;
    transform-origin: 0 50%;
    transform: scaleX(0);
  }

  .card .background .line:after {
    top: 0;
    bottom: 0;
    width: 1px;
    transform-origin: 50% 0;
    transform: scaleY(0);
  }

  .card .background .line.line-1:before {
    top: 10%;
  }

  .card .background .line.line-1:after {
    left: 22.5%;
  }

  .card .background .line.line-1:before,
  .card .background .line.line-1:after {
    transition-delay: 0.3s;
  }

  .card .background .line.line-2:before {
    top: 32.5%;
  }

  .card .background .line.line-2:after {
    left: 50%;
  }

  .card .background .line.line-2:before,
  .card .background .line.line-2:after {
    transition-delay: 0.15s;
  }

  .card .background .line.line-3:before {
    top: 55%;
  }

  .card .background .line.line-3:after {
    right: 22.5%;
  }

  .card:hover {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.04), 0px 15px 25px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(255, 255, 255, 0.2);
  }

  .card:hover .icon::after {
    background-color: rgba(52, 211, 153, 0.1);
    border-color: rgba(211, 52, 52, 0.2);
  }

  .card:hover .icon svg {
    color: #d34634;
  }

  .card:hover .shine {
    opacity: 1;
    transition-duration: 0.5s;
    transition-delay: 0s;
  }

  .card:hover .background .tiles {
    opacity: 1;
    transition-delay: 0.25s;
  }

  .card:hover .background .tiles .tile {
    -webkit-animation-name: tile;
    animation-name: tile;
  }

  .card:hover .background .line {
    opacity: 1;
    transition-duration: 0.15s;
  }

  .card:hover .background .line:before {
    transform: scaleX(1);
  }

  .card:hover .background .line:after {
    transform: scaleY(1);
  }

  .card:hover .background .line.line-1:before,
  .card:hover .background .line.line-1:after {
    transition-delay: 0s;
  }

  .card:hover .background .line.line-2:before,
  .card:hover .background .line.line-2:after {
    transition-delay: 0.15s;
  }

  .card:hover .background .line.line-3:before,
  .card:hover .background .line.line-3:after {
    transition-delay: 0.3s;
  }

  .day-night {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    opacity: 0.3;
  }

  .day-night input {
    display: none;
  }

  .day-night input+div {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: relative;
    box-shadow: inset 8px -8px 0 0 #a1a1aa;
    transform: scale(1) rotate(-2deg);
    transition: box-shadow 0.5s ease 0s, transform 0.4s ease 0.1s;
  }

  .day-night input+div:before {
    content: "";
    width: inherit;
    height: inherit;
    border-radius: inherit;
    position: absolute;
    left: 0;
    top: 0;
    transition: background-color 0.3s ease;
  }

  .day-night input+div:after {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin: -3px 0 0 -3px;
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0 -23px 0 #a1a1aa, 0 23px 0 #a1a1aa, 23px 0 0 #a1a1aa, -23px 0 0 #a1a1aa, 15px 15px 0 #a1a1aa, -15px 15px 0 #a1a1aa, 15px -15px 0 #a1a1aa, -15px -15px 0 #a1a1aa;
    transform: scale(0);
    transition: all 0.3s ease;
  }

  .day-night input:checked+div {
    box-shadow: inset 20px -20px 0 0 #a1a1aa;
    transform: scale(0.5) rotate(0deg);
    transition: transform 0.3s ease 0.1s, box-shadow 0.2s ease 0s;
  }

  .day-night input:checked+div:before {
    background: #a1a1aa;
    transition: background-color 0.3s ease 0.1s;
  }

  .day-night input:checked+div:after {
    transform: scale(1);
    transition: transform 0.5s ease 0.15s;
  }

  html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
  }

  * {
    box-sizing: inherit;
  }

  *:before,
  *:after {
    box-sizing: inherit;
  }

  body2 {
    min-height: 100vh;
    display: flex;
    font-family: "Inter", Arial;
    justify-content: center;
    align-items: center;
    background-color: #18181b;
    overflow: hidden;
  }

  body2:before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: radial-gradient(ellipse at top, #10b981 0%, #18181b 50%);
    opacity: 0.01;
  }
</style>

<div class="grid">
  {% for post in site.posts %}
  {% if post.categories contains 'project' %}
  <div class="card">
    <a id="route" href="{{ post.url | prepend: site.baseurl }}">
      <span class="icon">
        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.2" stroke-linecap="round"
          stroke-linejoin="round" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M14.5 3.5C14.5 3.5 14.5 5.5 12 5.5C9.5 5.5 9.5 3.5 9.5 3.5H7.5L4.20711 6.79289C3.81658 7.18342 3.81658 7.81658 4.20711 8.20711L6.5 10.5V20.5H17.5V10.5L19.7929 8.20711C20.1834 7.81658 20.1834 7.18342 19.7929 6.79289L16.5 3.5H14.5Z" />
        </svg>
      </span>
    </a>
    <a id="route" href="{{ post.url | prepend: site.baseurl }}">
      <h4>{{ post.title }}</h4>
    </a>
    <p>
      {{ post.summary }}
    </p>
    <div class="shine"></div>
    <div class="background">
      <div class="tiles">
        <div class="tile tile-1"></div>
        <div class="tile tile-2"></div>
        <div class="tile tile-3"></div>
        <div class="tile tile-4"></div>

        <div class="tile tile-5"></div>
        <div class="tile tile-6"></div>
        <div class="tile tile-7"></div>
        <div class="tile tile-8"></div>

        <div class="tile tile-9"></div>
        <div class="tile tile-10"></div>
      </div>

      <div class="line line-1"></div>
      <div class="line line-2"></div>
      <div class="line line-3"></div>
    </div>
  </div>
  {% endif %}
  {% endfor %}
</div>


<!-- <div style="margin: 1rem auto;">

<h1 class="archive-header"></h1>
<div class="wf-container" style="margin-top: 80px;">
  {% for post in site.posts %}
    {% if post.categories contains 'project' %}
      <div class="wf-box">
        <a id="route" href="{{ post.url | prepend: site.baseurl }}">
          <div class="tglgede" style="
            background-color: rgba(105, 105, 105, 0.44);
            background-image: url({{post.image.url}});
            background-position:  center center;
            background-repeat: no-repeat;
            background-size: contain;
          ">
            <p style="
              background-color: rgba(0, 0, 0, 0.21);
              padding: 30%;
              color: #DADADA;
              justify-content: center;
              text-align: center;
              margin-bottom: 0;
            ">
            </p>
          </div>
         </a>
         <div class="content">
            <a id="route" href="{{ post.url | prepend: site.baseurl }}">
              <h3 style="padding: 5px 8px;
                margin-bottom: 0;
                background-color: #00bc8c;
                color: #fff;
                font-size: 15px;
                border-top: 3px solid #03775A;">{{ post.title }}
              </h3>
            </a>
         </div>
      </div>
    {% endif %}
  {% endfor %}
</div> -->