---
layout: default
title: Contact
permalink: /contact.html
coordies:
  'Deepankur Kansal':
    number: +919457509700
    mail: deepank@iitk.ac.in
    github: DeepankurK
    image: deepankur.jpg
  'Nilay Majorwar':
    number: +919559084545
    mail: majorwar@iitk.ac.in
    github: NilayMajorwar 
    image: nilay.jpg
  'Nirmal Suthar':
    number: +918238486606
    mail: nirmalps@iitk.ac.in
    github: nirmal-suthar
    image: nirmal.jpg
  'Priydarshi Singh':
    number: +917318301507
    mail: darshi@iitk.ac.in
    github: dryairship
    image: priydarshi.jpg    
secys:
  'aashishp':
    name: Aashish Patel
    github: aashishpiitk
    fb: aashish.patel.397948
    number: 9415606650
    hall: 13
  'sethia':
    name: Abhimanyu Sethia
    github: abhimanyusethia12
    fb: abhimanyusethia12
    number: 8989624974
    hall: 13
  'aranjan':
    name: Aditya Ranjan
    github: Zark84010
    fb: Zark84010
    number: 9625266821
    hall: 13
  'antreev':
    name: Antreev Singh
    github: antreev-brar
    fb: antreev.singh
    number: 7589244907
    hall: 13
  'atharvsp':
    name: Atharv Singh Patlan 
    github: AthaSSiN
    fb: atharvsinghpatlan
    number: 8010425187
    hall: 13
  'gayush':
    name: Ayush Gupta
    github: ayush12gupta
    fb: ayush12gupta
    number: 8689903482
    hall: 13
  'bhagwat':
    name: Bhagwat Garg
    github: bhagwatgarg
    fb: gargbhagwat
    number: 9711313080
    hall: 13
  'dawood':
    name: Dawood Bin Mansoor
    github: rockstar2514
    fb: dawood.binmansoor
    number: 9621957017
    hall: 13
  'dipanshu':
    name: Dipanshu Garg
    github: dipanshu124
    fb: 100004662888280
    number: 9779051454
    hall: 13
  'diyans':
    name: Diya Singhal
    github: diyasinghal21
    fb: diya.singhal.79
    number: 9899671645
    hall: 6
  'ishitdar':
    name: Ishit Darania 
    github: IshitManojkumarDarania
    fb: ishit.darania
    number: 7678249989
    hall: 13
  'gkartik':
    name: Kartikeya  Gupta
    github: kartikcode
    fb: kartikeya.gupta.750
    number: 8090040800
    hall: 13
  'mriduldu':
    name: Mridul dubey
    github: mridul911
    fb: mridul.dubey.944
    number: 9119796117
    hall: 13
  'nupurj':
    name: Nupur Jain
    github: NupurJ
    fb: 100009404153757
    number: 9972407957
    hall: 6
  'pramodh':
    name: Pramodh Gopalan
    github: pramodh-1612
    fb: pramodh.gopalan
    number: 7400047180
    hall: 13
  'rbaijal':
    name: Rohan Baijal
    github: rohanblueboybaijal
    fb: 100009512316414
    number: 9958206389
    hall: 13
  'sarthakr':
    name: Sarthak Rout
    github: SarthakRout
    fb: sarthak.rout.1
    number: 9438354480
    hall: 13
  'shivty':
    name: Shivanshu Tyagi
    github: spazewalker
    fb: Shiv.2113
    number: 9131768145
    hall: 13
  'agshubh':
    name: Shubh Agrawal
    github: shubh10
    fb: shubh101220001
    number: 7838667354
    hall: 13
  'somvt':
    name: Som Tambe
    github: SomTambe
    fb: tambesom
    number: 7506042942
    hall: 13
  'ygoswami':
    name: Yatharth Goswami
    github: yatharth0610
    fb: yatharth.goswami.79
    number: 9982144450
    hall: 13
---

<br>

<div class="row">
  <div class="columns samping card">
    <h1 style="color: #00ffff;"> Current Coordinators </h1>
    <div class="flex-col">
      <div class="flex-row flex-row-wrap single-row">
        {% for coordie in page.coordies %}
          <div>
            <div> <img src="assets/image/{{ coordie[1].image }}" class="pic" alt="{{ coordie[0] }}"> </div>
            <div class="flex-col flex-grow-1">
              <div> <b> {{ coordie[0] }} </b> </div>
              <div> <a href="tel:{{ coordie[1].number }}"> {{ coordie[1].number }} </a> </div>
              <div> <a href="mailto:{{ coordie[1].mail }}"> {{ coordie[1].mail }} </a> </div>
              <div> <a href="https://github.com/{{ coordie[1].github }}" target="_blank">{{ coordie[1].github }}@github</a></div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <h1 style="color: #00ffff;">Current Secretaries</h1>
    <table class="secyTable" cellpadding="5">
      <tr>
        <th>Name</th>
        <th>Hall</th>
        <th>Mobile Number</th>
        <th>Email-ID</th>
        <th>GitHub</th>
        <th>Facebook</th>
      </tr>
      {% for secy in page.secys %}
        <tr>
          <td class="secyRow" align="center"> {{ secy[1].name }}</td>
          <td class="secyRow" align="center"> {{ secy[1].hall}} </td>
          <td class="secyRow" align="center"> <a href="tel:{{ secy[1].number }}">{{ secy[1].number }}</a></td>
          <td class="secyRow" align="center"> <a href="mailto:{{ secy[0] }}@iitk.ac.in"> {{ secy[0] }}@iitk.ac.in </a> </td>
          <td> <a href="https://github.com/{{ secy[1].github }}" target="_blank">{{ secy[1].github }}@github</a></td>
          <td> <a href="https://facebook.com/{{ secy[1].fb }}" target="_blank">{{ secy[1].fb }}</a></td>
       </tr>
      {% endfor %}
    </table>
  </div>
</div>

{% for year in site.excoordies %}
<div class="row new-card-margin">
  <div class="columns samping card">
    <h1> {{ year[0] }} Coordinators </h1>
    <div class="flex-col">
      {% for coordie in year[1] %}
      <div class="flex-row single-row">
        <div style="flex-shrink: 0;">
          <img src="assets/image/{{ coordie[1].image }}" class="pic" alt="{{ coordie[0] }}">
        </div>
        <div class="flex-col flex-grow-1">
          <div class="flex-row flex-row-wrap">
            <td> <b> {{ coordie[0] }} </b> </td>
            <td> <a href="mailto:{{ coordie[1].mail }}"> {{ coordie[1].mail }} </a> </td>
            <td> <a href="https://github.com/{{ coordie[1].github }}" target="_blank">{{ coordie[1].github }}@github</a></td>
          </div>
          <div class="flex-grow-1">
            <p class="left-align-text">
              {{ coordie[1].body }}
            </p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endfor %}

<style>

 .new-card-margin {
     margin-top: 25px;
 }

 .secyTable {
     width: 100%;
 }

.secyTable tr {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.secyTable tr:hover {
  background-color: #333333;
  -webkit-transform:scale(1.05);
  -moz-transform:scale(1.05);
  -ms-transform:scale(1.05);
  -o-transform:scale(1.05);
  transform:scale(1.05);
}

.secyRow {
  display:table-cell;
}
.secyRow b {
  color: #33dddd;
}
.secyTable tr:nth-child(even) {
  background-color: #2F4F4F;
}

</style>
