---
layout: default
---

<!-- begin hero -->
{% if site.hero.image %}
<section class="hero">
  <div class="hero__inner">
    <div class="hero__image">
      <img class="lazy" data-src="{{site.baseurl}}{{site.hero.image}}" alt="{{site.hero.title}}">
    </div>
    <div class="hero__content">
      <h1 class="hero__title">{{site.hero.title}}</h1>
      <p class="hero__desc">{{site.hero.description}}</p>
    </div>
  </div>
</section>
{% else %}
<section class="hero-without-image">
  <div class="hero-inner">
    <div class="hero-content">
      <h1 class="hero__title">{{site.hero.title}}</h1>
      <p class="hero__desc">{{site.hero.description}}</p>
    </div>
  </div>
</section>
{% endif %}
<!-- begin hero -->

{% include featured-posts.html %}

<div class="container">
  <div class="row">
    <div class="col col-12">
      <div class="container__inner">
        <div class="row grid">
          {% if site.posts.size > 0 %}
            {% for post in paginator.posts %}
              {% include article-content.html %}
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% include pagination.html %}