---
layout: default
title: Tag
permalink: /tags.html
exclude_from_nav: true
---

<div style="margin: 2rem auto;">
<div class="tags-pagee">
<ul class="tags" style="padding:0; margin-top: 20px; margin-bottom: 20px;">
{% for tag in site.tags %}
  <li style="font-size: {{ tag | last | size | times: 100 | divided_by: site.tags.size | plus: 70  }}%">
    <a id="route" href="#{{ tag | first | slugize }}">
      {{ tag | first }}
      <span>{{ tag | last | size }}</span>
    </a>
  </li>
{% endfor %}
</ul>
</div>
<br>
<div id="archives">
{% for tag in site.tags %}
  <div class="archive-group">
    {% capture tag_name %}{{ tag | first }}{% endcapture %}
    <h3 id="#{{ tag_name | slugize }}">#{{ tag_name }}</h3>
    <a name="{{ tag_name | slugize }}"></a>
    {% for post in site.tags[tag_name] %}
    <article class="archive-item">
      <p><h4><a href="{{ root_url }}{{ post.url }}">{{post.title}}</a></h4></p>
      <p class="tags-date">{{ post.date | date: "%b %-d, %Y" }}</p>
    </article>
    {% endfor %}
  </div>
{% endfor %}
</div>
</div>
