<!-- begin footer-widgets -->
{% if page.title != "Contact Us" %}
<section class="footer-widgets">
  <div class="container">
    <div class="row">
      {% include footer-widgets/widget-recent-posts.html %}
      {% include footer-widgets/widget-tag-cloud.html %}
      {% include footer-widgets/widget-subscribe.html %}
    </div>
  </div>
</section>
{% else %}
<section class="footer-widgets">
  <div class="container">
    <div class="row">
      {% include footer-widgets/widget-subscribe.html %}
    </div>
  </div>
</section>
{% endif %}
<!-- end footer-widgets -->

<!-- begin footer -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col col-12">
      <div class="footer__inner">
        <div class="copyright">{{site.time | date: '%Y'}} &copy; <a href="/">{{site.title}}</a>Developed & Maintained by <a href="https://pclub.in">Programming Club IITK</a>.</div>
        {% include social-links.html %}
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- end footer -->
