<head>
  <!---
  Dark Kimochi By Spaghetti
  -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="google-site-verification" content="Jo2tsvJukG-gUtQpsqsSJRDXKo5XD10xutu1oJd-eTU" />
  <meta name="msvalidate.01" content="39EAB6293E810C6EFD770A53ECE7C7FE" />
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ "/assets/css/flex.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/assets/css/alternative.css" | prepend: site.baseurl }}">
  <link href="//cdnjs.cloudflare.com/ajax/libs/typicons/2.0.7/typicons.min.css" rel="stylesheet">
  <link href="//cdnjs.cloudflare.com/ajax/libs/octicons/3.4.1/octicons.min.css" rel="stylesheet">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <link rel="apple-touch-icon" sizes="57x57" href="/assets/image/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/assets/image/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/image/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/image/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/image/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/assets/image/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/assets/image/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/image/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/image/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/assets/image/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/image/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/assets/image/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/image/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/assets/image/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
</head>
