<div class="large-4 columns">
<div class="widgetnya">  
<h1 class="page-heading">Search</h1>
<div class="badanwidget" style="width:0">
<input type="text" placeholder="Type here to search..." id="countries"/>
</div>
</div>  
  
<div class="widgetnya">  
  <h1 class="page-heading">Tags</h1>
	  	
<div class="badanwidget">	  		
<ul class="tags" style="padding-bottom: 20px;">
	  {% for tag in site.tags %}
	  
  <li style="font-size: {{ tag | last | size | times: 100 | divided_by: site.tags.size | plus: 70  }}%">
    <a id="route" href="/tags/#{{ tag | first | slugize }}">
      {{ tag | first }}
      <span>{{ tag | last | size }}</span>
    </a>
  </li>
{% endfor %}
</ul>
</div>
</div>  

<div class="widgetnya">  
<h1 class="page-heading">Blogroll</h1>
<div class="badanwidget">
  
  
</div>
</div>


	  	
	  