---
layout: default
---

<!-- begin hero -->
{% if page.image %}
<section class="hero">
  <div class="hero__inner">
    <div class="hero__image">
      <img src="{{page.image}}" alt="{{page.title}}">
    </div>
    <div class="hero__content">
      <h1 class="hero__title">{{page.title}}</h1>
    </div>
  </div>
</section>
{% else %}
<section class="hero-without-image">
  <div class="hero-inner">
    <div class="hero-content">
      <h1 class="hero__title">{{page.title}}</h1>
    </div>
  </div>
</section>
{% endif %}
<!-- begin hero -->

<!-- begin page -->
<div class="container">
  <article class="page animate">
    <div class="page__content">
      {{ content }}
    </div>
  </article>
</div>
<!-- end page -->