---
layout: default
---

<div class="post-head">
  <div class="container">
    <div class="row">
      {% if page.image %}
      <div class="col col-6 col-t-12">
        <div class="image-box">
          <img class="post-image" src="{{page.image.url}}" alt="{{page.title}}">
        </div>
      </div>
      {% endif %}
  
      <div class="col col-6 col-t-12">
        <div class="post-head__box">
        
          <div class="post__meta">
            <span class="post__minutes">
              {% assign words = page.content | number_of_words %}
              {% if words < 360 %}
                1 min read
              {% else %}
                {{ words | divided_by:180 }} min read
              {% endif %}
              <time class="post__date"
                datetime="{{ page.date | date_to_xmlschema }}">{% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}{{ page.date | date: date_format }}</time>
            </span>
          </div>
        
          <h2 class="post__title">{{page.title}}</h2>
        
          <div class="post__bottom">
        
            <div class="post__author">
              <a href="{{site.baseurl}}/about/" aria-label="{{site.author.name}}"><img class="post__author-image"
                  src="{{site.baseurl}}{{site.author.avatar}}" alt="{{site.author.name}}'s Picture"></a>
            </div>
        
            <div class="post__bottom-meta">
              <a href="{{site.baseurl}}/about/" class="post__author-link">{{site.author.name}}</a>
              {% if page.tags.size >= 1 %}
              <span>in</span>
              <span class="post-tags">
                {% for tag in page.tags %}
                <a href="{{ site.baseurl }}/tag/{{ tag }}" class="post__tag">{{ tag }}</a>
                {% endfor %}
              </span>
              {% endif %}
            </div>
          </div>
        
        </div>
      </div>
    </div>
  </div>
</div>

<!-- begin post -->
<div class="container">
  <article class="post animate">

    <div class="post__content">
      {{ content }}
    </div>

    <div class="post__share">
      <div class="share__list">
        <a class="share__link share__facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}" onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" title="Share on Facebook" rel="nofollow"><i class="ion ion-logo-facebook"></i></a>

        <a class="share__link share__twitter" href="https://twitter.com/intent/tweet?text={{ page.title | uri_escape }}&url={{ site.url }}{{ site.baseurl }}{{ page.url }}" onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" title="Share on Twitter" rel="nofollow"><i class="ion ion-logo-twitter"></i></a>
      </div>
    </div>

    <div class="post__navigation">
      {% if page.previous.url %}
      <a class="prev" href="{{page.previous.url}}">
        <img class="post__nav-image" src="{{page.previous.image.url}}" alt="{{page.previous.title}}">
        <div class="post__nav-box">
          <div class="post__nav post__nav__prev"><i class="ion ion-md-arrow-round-back"></i> Previous Post</div>
          <h4 class="post__nav__title">{{page.previous.title}}</h4>
        </div>
      </a>
      {% endif %}
      {% if page.next.url %}
      <a class="next" href="{{page.next.url}}">
        <img class="post__nav-image" src="{{page.next.image.url}}" alt="{{page.next.title}}">
        <div class="post__nav-box">
          <div class="post__nav post__nav__next">Next Post <i class="ion ion-md-arrow-forward"></i></div>
          <h4 class="post__nav__title">{{page.next.title}}</h4>
        </div>
      </a>
      {% endif %}
    </div>

  </article>
</div>
<!-- end post -->

{% include related-posts.html %}

{% if site.disqus-identifier %} {% include disqus-comments.html %} {% endif %}