---
layout: default
---
<div style="margin: 4.5rem auto;">

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="inpost-header">
    <h1 class="inpost-title" itemprop="name headline">{{ page.title }}</h1>
    <h1 style="float:right" class="comment-postingatas">
      <i class="typcn typcn-messages"></i> <a class="disqus-comment-count" href="{{ page.url }}#disqus_thread" data-disqus-identifier="{{ page.id }}"style="color:#fff"> 0</a>
    </h1>
    </p>
  </header>
  
  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

<div class="arrowNav">
 
{% if page.next.url %} 
<div class="arrowLeft">
<a id="route" class="tooltip-right" href="{{page.next.url}}" title="
&lt;p class=hoveratas&gt;{{page.next.title}}&lt;/p&gt; &lt;p class=hoverbawah&gt;{{ page.next.content | strip_html | truncatewords:10}}&lt;/p&gt;
"><i class="typcn typcn-chevron-left" style="    font-size: 30px;
    position: relative;
   
    "></i></a>
</div>
{% endif %}

{% if page.previous.url %} 
<div class="arrowRight" style="float:right">
<a id="route" class="tooltip-left" href="{{page.previous.url}}" title="
&lt;p class=hoveratas&gt;{{page.previous.title}}&lt;/p&gt; &lt;p class=hoverbawah&gt;{{ page.previous.content | strip_html | truncatewords:10}}&lt;/p&gt;
"><i class="typcn typcn-chevron-right" style="    font-size: 30px;
    position: relative;
   
    "></i></a>
</div>
{% endif %}
</div>


  <p class="post-meta" style="background: #00bc8c; padding: 15px 0px 15px 20px;">
  <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished"><i class="typcn typcn-calendar-outline"></i> {{ page.date | date: "%b %-d, %Y" }}</time>
  {% if page.author %} 
  • <span itemprop="author" itemscope itemtype="http://schema.org/Person">
    <span itemprop="name">
      {% if page.website == nil %}
      {{ page.author }}
      {% else %}
      <a href="{{ page.website }}" target="_blank" style="color: #fff;">{{ page.author }}</a>
      {% endif %}
    </span>
  </span>
  {% endif %} 
    |{% if post %}
    {% assign tags = post.tags %}
  {% else %}
    {% assign tags = page.tags %}
  {% endif %}
  {% for tag in tags %}
  <a href="/tags.html#{{tag|slugize}}" style="color: #fff;"><i class="typcn typcn-tags"></i> {{tag}}</a>{% unless forloop.last %} {% endunless %}
  {% endfor %}
  </p>

</article>





<style>
    #disqus_thread {
  overflow: hidden;

  iframe {
    margin-bottom: -54px;
  }
}
</style>
<div id="disqus_thread"></div>
<script>
  // For debugging
  // var disqus_developer = 1;
  var disqus_shortname = 'pclubiitk';
  var disqus_config = function () {
    this.page.url = 'https://pclub.in{{page.id}}';
    this.page.identifier = '{{page.id}}';
  };
  (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
  (function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
  }());
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

</div>
